<!DOCTYPE html>
<html>
  <head>
    <title>Bbq1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

  <div class="wrapper">
    <div class="content">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
          <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to 'Профиль', current_user, class: "nav-link link-secondary ms-3" %></li>
                <li><%= link_to 'Выйти', destroy_user_session_path,
                        method: :delete, class: "nav-link link-secondary ms-3" %></li>
              <% else %>
                <li><%= link_to 'Войти', new_user_session_path, class: "nav-link link-secondary ms-3" %></li>
                <li><%= link_to 'Зарегистрироваться',
                        new_user_registration_path, class: "nav-link link-secondary ms-3" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= yield %>
        </div>
        <div class="col-lg-3">
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; <%= t'app.company' %> 2021</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
